#chat-container{
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    height: 50%;
}

.icon-container{
    background-color: lavender;
    border: 1px solid #fff;
    height: 100%;
}

.name-container{
    background-color: lavenderblush;
    border: 1px solid #fff;
    height: 100%;
}

.main-container{
    height: 700px;
}

.input-container{
    text-align:center;
}

#emotion-display{
    height: 20%;
    text-align: center;
}

#friendsList ul li {
    cursor: pointer;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#chat-messages .sender {
    text-align: right;
}

#chat-messages .recipient {
    text-align: left;
}

#chat-messages .user-avatar.sender {
    text-align: right;
}
